#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.sider {
  position: absolute;
  top: 0
}

.ant-menu-submenu-arrow::after::before {
  color: rgb(147, 197, 218);
}

.menu {
  position: absolute;
  top: 10px;
  left: 25px;
  color: white;
  z-index: 2;
  font-size: 18px;
}

.open {
  /* background-color: chartreuse !important; */
  display:flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}